.footer {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 0.7fr .2fr;
      grid-template-columns: 0.2fr 0.7fr .2fr;
  background-color: #4b4b4b;
  height: 112px;
  margin-top: 595px;
  opacity: 70%;
}

.footer > .footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer > .footer-icon img {
  height: 100px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 55px;
}

.footer-nav > .home {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.footer-nav > .home a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.footer-nav > .home a::before {
  content: "";
  position: absolute;
  width: 62px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 33px;
  background-color: gold;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.footer-nav > .home a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-nav > .skins {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.footer-nav > .skins a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.footer-nav > .skins a::before {
  content: "";
  position: absolute;
  width: 60px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 32px;
  background-color: gold;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.footer-nav > .skins a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-nav > .about {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.footer-nav > .about a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.footer-nav > .about a::before {
  content: "";
  position: absolute;
  width: 65px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 30px;
  background-color: gold;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.footer-nav > .about a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-nav > .related {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.footer-nav > .related a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.footer-nav > .related a::before {
  content: "";
  position: absolute;
  width: 86px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 32px;
  background-color: gold;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.footer-nav > .related a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skins-footer {
  margin-top: 20px;
}
/*# sourceMappingURL=footer.css.map */