@mixin banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    111deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(193, 134, 24, 1) 100%
  );
  height: 18vh;
}

/* left column */

.header-container > .left-top {
  @include banner;
}

.header-container > .left-top img {
  width: 15vw;
}

/* center column */

.header-container > .center-top-nav {
  @include banner;
}

.header-container > .center-top-nav > .home {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.header-container > .center-top-nav > .home a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.header-container > .center-top-nav > .home a::before {
  content: "";
  position: absolute;
  width: 62px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 33px;
  background-color: gold;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

.header-container > .center-top-nav > .home a:hover::before {
  transform: scaleX(1);
}

.header-container > .center-top-nav > .skins {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.header-container > .center-top-nav > .skins a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.header-container > .center-top-nav > .skins a::before {
  content: "";
  position: absolute;
  width: 60px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 32px;
  background-color: gold;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

.header-container > .center-top-nav > .skins a:hover::before {
  transform: scaleX(1);
}

.header-container > .center-top-nav > .about {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.header-container > .center-top-nav > .about a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.header-container > .center-top-nav > .about a::before {
  content: "";
  position: absolute;
  width: 65px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 30px;
  background-color: gold;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

.header-container > .center-top-nav > .about a:hover::before {
  transform: scaleX(1);
}

.header-container > .center-top-nav > .contact {
  font-size: 25px;
  padding-right: 70px;
  display: inline-block;
  position: relative;
}

.header-container > .center-top-nav > .contact a {
  color: gold;
  text-decoration: none;
  padding: 30px;
}

.header-container > .center-top-nav > .contact a::before {
  content: "";
  position: absolute;
  width: 86px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 32px;
  background-color: gold;
  transform-origin: center center;
  transition: transform 0.25s ease-out;
}

.header-container > .center-top-nav > .contact a:hover::before {
  transform: scaleX(1);
}

/* top right column */

.header-container > .right-top {
  display: flex;
  justify-content: flex-end;
}

.header-container > .right-top > .background-image {
  width: 100%;
  height: 100%;
}

.header-container > .right-top > .background-image img {
  width: 484px;
  height: 18vh;
  object-fit: cover;
  object-position: 40% 3%;
  margin-bottom: -12px;
  -webkit-mask-image: linear-gradient(to right, transparent 2%, black);
}
