@mixin header-style {
  border-bottom: 7px solid #c18618;
  border-radius: 17px;
}

@mixin align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  @include body;
  font-family: sans-serif;
}

@mixin header {
  font-size: 50px;
  font-family: "Updock", cursive;
  color: rgba(193, 134, 24, 1);
}

.parallax-bg {
  background-image: url(/Images/gilded-skins.jpg);
  min-height: 855px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black);
}

.page-content-container {
  color: white;
  height: 572px;
  @include align;
}

.page-content-container > .section-header {
  @include header;
  @include header-style;
}

.champion-section-contents > .vi-contents h1 {
  @include header;
  font-size: 30px;
}

.champion-section-contents > .vi-contents {
  color: gold;
  margin-left: 50px;
}
