body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: goldenrod;
  outline: 2px solid slategray;
  border-radius: 18px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.parallax-bg {
  background-image: url(/Images/gilded-skins.jpg);
  min-height: 855px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black);
}

.page-content-container {
  color: white;
  height: 572px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content-container > .section-header {
  font-size: 50px;
  font-family: "Updock", cursive;
  color: #c18618;
  border-bottom: 7px solid #c18618;
  border-radius: 17px;
  margin-bottom: 349px;
}

.champion-section-contents > .vi-contents > .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 158px;
}

.champion-section-contents > .vi-contents h1 {
  font-size: 50px;
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
}

.champion-section-contents > .vi-contents {
  color: gold;
  margin-left: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.vi-contents > .vi-image img {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}

.content-header p {
  font-size: 30px;
}

.jinx-contents {
  height: 400px;
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

.jinx-contents > .jinx-content-header {
  color: gold;
  width: 100%;
}

.jinx-content-header .jinx-image img {
  margin-right: 147px;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to left, transparent 1%, black);
}

.jinx-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
  margin-top: 10px;
}

.jinx-content-header p {
  font-size: 30px;
}

.jayce-contents {
  height: 400px;
  margin-top: -196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 305px;
  padding-left: 206px;
}

.jayce-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
}

.jayce-content-header p {
  color: gold;
  font-size: 30px;
}

.jayce-contents > .jayce-image img {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}

.caitlyn-contents {
  height: 400px;
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

.caitlyn-contents > .caitlyn-content-header {
  color: gold;
  width: 100%;
}

.caitlyn-content-header .caitlyn-image img {
  margin-right: 147px;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to left, transparent 1%, black);
}

.caitlyn-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
  margin-top: 10px;
}

.caitlyn-content-header p {
  font-size: 30px;
}

.ekko-contents {
  height: 400px;
  margin-top: -196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 305px;
  padding-left: 206px;
}

.ekko-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
}

.ekko-content-header p {
  color: gold;
  font-size: 30px;
}

.ekko-contents > .ekko-image img {
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(1%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}
/*# sourceMappingURL=parallax.css.map */