@mixin header-style {
  border-bottom: 7px solid #c18618;
  border-radius: 17px;
}

@mixin align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin body {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  @include body;
  font-family: sans-serif;
}

@mixin header {
  font-size: 50px;
  font-family: "Updock", cursive;
  color: rgba(193, 134, 24, 1);
}

.parallax-bg {
  background-image: url(/Images/gilded-skins.jpg);
  min-height: 855px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black);
}

.page-content-container {
  color: white;
  height: 572px;
  @include align;
}

.page-content-container > .section-header {
  @include header;
  @include header-style;
  margin-bottom: 349px;
}

// Vi Section

.champion-section-contents > .vi-contents > .content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 158px;
}

.champion-section-contents > .vi-contents h1 {
  @include header;
  font-size: 70px;
}

.champion-section-contents > .vi-contents {
  color: gold;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vi-contents > .vi-image img {
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}

.content-header p {
  font-size: 30px;
}

// Jinx Section

.jinx-contents {
  height: 400px;
  margin-top: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 450px;
  display: grid;
  grid-template-columns: inherit;
}

.jinx-contents > .jinx-content-header {
  color: gold;
  width: 100%;
}

.jinx-content-header .jinx-image img {
  margin-right: 147px;
  -webkit-mask-image: linear-gradient(to left, transparent 1%, black);
}

.jinx-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
  margin-top: 10px;
}

.jinx-content-header p {
  font-size: 30px;
}

// Jayce-Section

.jayce-contents {
  height: 400px;
  margin-top: -196px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 305px;
  padding-left: 206px;
}

.jayce-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
}


.jayce-content-header p {
  color: gold;
  font-size: 30px;
}

.jayce-contents > .jayce-image img {
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}

// Caitlyn Section

.caitlyn-contents {
  height: 400px;
  margin-top: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 450px;
  display: grid;
  grid-template-columns: inherit;
}

.caitlyn-contents > .caitlyn-content-header {
  color: gold;
  width: 100%;
}

.caitlyn-content-header .caitlyn-image img {
  margin-right: 147px;
  -webkit-mask-image: linear-gradient(to left, transparent 1%, black);
}

.caitlyn-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
  margin-top: 10px;
}

.caitlyn-content-header p {
  font-size: 30px;
}

// Ekko Section

.ekko-contents {
  height: 400px;
  margin-top: -196px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 305px;
  padding-left: 206px;
}

.ekko-content-header h1 {
  font-family: "Updock", cursive;
  color: #c18618;
  font-size: 70px;
}


.ekko-content-header p {
  color: gold;
  font-size: 30px;
}

.ekko-contents > .ekko-image img {
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black);
}